<ion-content class="content">
  <div>
    <h2>My Malaria Kit</h2>
    <p>Please enter the last 5 digits of the code<br/>that you can find on the back of your kit.</p>
    <ion-list>
      <img src="assets/imgs/code.png" class="code_image"/>
      <ion-item><ion-input class="code" [(ngModel)]="code" placeholder="Enter 5-digit code"></ion-input></ion-item>
      <button ion-button round color="danger" class="submit" (click)="onClickSubmit()" [disabled]="!code">SUBMIT</button>
    </ion-list>
  </div>
</ion-content>
