page-login {
  .content {
    background-color: #2F3082;
    background-image: url('../assets/imgs/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    ion-item {
      background-color: rgba(255,255,255,1);
      border-radius: 5px;
      margin-top: 15px;

      ion-input {
        color: black;
        text-align: left;
        float: left;
        margin: 0;

        input {
          text-align: center;
        }
      }
    }
    .submit {
      display: block;
      margin: auto;
      margin-top: 10px;
      width: 100%;
      padding: 20px;
      font-weight: 500;
    }
  }
  .code_image {
    width: 70%;
  }
}
