<ion-header>
  <ion-navbar>
    <ion-title>My Kit Contents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-content>
        <img src="assets/imgs/button-kit.svg" class="kit_icon"/>
        <h2>I have a...</h2>
        <button ion-button round color="danger" class="selection" (click)="onTapCurativeKit()">Malaria Curative Kit</button>
        <button ion-button round color="danger" class="selection" (click)="onTapDiagnosticKit()">Malaria Diagnostic Kit</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
