page-kit {
  .content {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F6F6;
  }

  .card {
    width: 90%;
    border-radius: 20px;
    padding: 30px;

    .kit_icon {
      width: 10vw;
      display: block;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    .selection {
      width: 100%;
      padding: 25px;
      display: block;
      margin: auto;
      margin-top: 10px;
    }
  }

  // .img {
  //   width: 50%;
  //   height: auto;
  // }
  // .kit-content {
  //   align-items: center;
  //   justify-content: center;
  //   display: flex;
  //   height: 100%
  // }
  // .kit-container {
  //   align-items: center;
  //   justify-content: center;
  //   display: flex;
  // }
  // .kit-1 {
  //   opacity: 0.5;
  //   top: 0;
  //   left: 0;
  //   position: absolute;
  //   height: 65%;
  //   width: 50%;
  //   z-index: 1;
  // }
  // .kit-2 {
  //   opacity: 0.5;
  //   bottom: 0;
  //   left: 0;
  //   position: absolute;
  //   height: 35%;
  //   width: 50%;
  //   z-index: 1;
  // }
  // .kit-3 {
  //   opacity: 0.5;
  //   top: 0;
  //   right: 0;
  //   position: absolute;
  //   height: 100%;
  //   width: 50%;
  //   z-index: 1;
  // }
  // .kit-image {
  //   z-index: 0;
  // }
  // .kit-image-overlay {
  //   background-color: white;
  //   opacity: 0.9;
  //   top: 0;
  //   left: 0;
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   z-index: 1;
  // }
  // .kit-scroll-content {
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: 3;
  //     h5 {
  //       margin-left: 5vw;
  //       margin-right: 5vw;
  //     }
  // }
  // .kit-scroll {
  //   width: 100%;
  //   height: 100%;
  //   overflow-y: scroll;
  //   display: block;
  // }
  // .kit-image-content {
  //   width: 50%;
  // }
  // .kit-image-content-long {
  //   width: 80%;
  // }
  // .kit-image-content-border {
  //   width: 50%;
  //   border: medium solid black;
  // }
  // .kit-header {
  //   padding: 0;
  //   top: 0;
  //   width: 100%;
  //   background-color: white;
  //   border-top: thin solid white;
  //   border-bottom: medium dotted #6988BF;
  // }

}
