page-quiz {
  ion-slides {
    background-color: #F6F6F6;
    height: auto;
  }
  ion-slide.swiper-slide {
    align-items: flex-start;
    justify-content: center;
  }
  .slide-points {
    background-color: white;
    font-size: 4.0vmin;

    .swiper-slide {
      align-items: flex-start;
      justify-content: center;
    }
  }
  .card {
    width: 90vw;
    border-radius: 10px;
    margin: 5vw;

    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
    ion-card-content {
      padding: 5px;
    }
    .correct {
      color: green;
    }
    .incorrect {
      color: red;
    }
    .result_image {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .result {
      margin-bottom: 15px;
      color: black;

      .bold_result {
        font-weight: bolder;
      }
    }
    .points {
      color: #F50080;
    }
    .question_image {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .img {
    width: 40px;
    height: 40px;
    object-fit:contain;
  }
  .choice {
    width: 100%;
    margin-bottom: 1vh;

    .selected {
      background-color: #FFDB2B;
      font-size: 4vmin;
    }
    .not_selected {
      background-color: #EFEFEF;
      font-size: 4vmin;
      font-weight: 400 !important;
    }
  }
  .choice_square {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .selected {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFDB2B;
      width: 40vw;
      height: 45vw;
      margin: 5px;
      text-align: center;
      font-size: 4vmin;
    }
    .not_selected {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #EFEFEF;
      width: 40vw;
      height: 45vw;
      margin: 5px;
      text-align: center;
      font-size: 4vmin;
      font-weight: 400 !important;
    }
    .selected_rect {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFDB2B;
      width: 40vw;
      height: 15vw;
      margin: 5px;
      text-align: center;
      font-size: 4vmin;
    }
    .not_selected_rect {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #EFEFEF;
      width: 40vw;
      height: 15vw;
      margin: 5px;
      text-align: center;
      font-size: 4vmin;
      font-weight: 400 !important;
    }
    .img {
      width: 35px;
      height: 35px;
      object-fit:contain;
      margin: auto;
      margin-bottom: 10px;
    }
  }
  .submit {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-weight: 500;
  }
  .final_res {
    margin-top:30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .final_res_button_left {
    width: 50%;
    padding-right: 3px;
    padding-top: 5px;
  }
  .final_res_button_right {
    width: 50%;
    padding-left: 3px;
    padding-top: 5px;
  }
  .final_res_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .final_res_button {
    padding: 25px;
  }
}
