<ion-header>
  <ion-navbar>
    <ion-title>Malaria Quiz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="background-color:white; height:100%">
    <ion-slides effect="flip">
      <ion-slide *ngFor="let q of quiz" class="swiper-no-swiping">
        <ion-card class="card">
          <ion-card-header><h2>QUESTION {{q.number}}</h2></ion-card-header>
          <div *ngIf="show=='question'">
            <ion-card-content>
              <p>{{q.question}}</p>
              <img *ngIf="q.question_image" src="{{'assets/imgs/' + q.question_image}}" class="question_image" />
            </ion-card-content>
            <div *ngIf="q.layout == 'list'">
              <div *ngFor="let c of q.choices" class="choice">
                <button ion-item detail-none text-wrap full class="not_selected" (click)="onClickChoice(c)" *ngIf="!c.isSelected">
                  <img *ngIf="c.image" src="{{'assets/imgs/' + c.image}}" class="img" item-start/>
                  {{c.value}}
                </button>
                <button ion-item detail-none text-wrap full class="selected" (click)="onClickChoice(c)" *ngIf="c.isSelected">
                  <img *ngIf="c.image" src="{{'assets/imgs/' + c.image}}" class="img" item-start/>
                  {{c.value}}
                </button>
              </div>
              <button *ngIf="!canSubmit" ion-button round color="danger" class="submit" (click)="onClickSubmit()" [disabled]="true">SUBMIT</button>
              <button *ngIf="canSubmit" ion-button round color="danger" class="submit" (click)="onClickSubmit()">SUBMIT</button>
            </div>
            <div *ngIf="q.layout == 'square'">
              <div *ngFor="let s of q.square" class="choice_square">
                <button ion-item detail-none text-wrap class="not_selected" (click)="onClickChoice(q.choices[s * 2])" *ngIf="!q.choices[s * 2].isSelected">
                  <img *ngIf="q.choices[s * 2].image" src="{{'assets/imgs/' + q.choices[s * 2].image}}" class="img"/>
                  {{q.choices[s * 2].value}}
                </button>
                <button ion-item detail-none text-wrap class="selected" (click)="onClickChoice(q.choices[s * 2])" *ngIf="q.choices[s * 2].isSelected">
                  <img *ngIf="q.choices[s * 2].image" src="{{'assets/imgs/' + q.choices[s * 2].image}}" class="img"/>
                  {{q.choices[s * 2].value}}
                </button>
                <button ion-item detail-none text-wrap class="not_selected" (click)="onClickChoice(q.choices[(s * 2)+1])" *ngIf="((s * 2) + 1) < q.choices.length && !q.choices[(s * 2)+1].isSelected">
                  <img *ngIf="q.choices[(s * 2)+1].image" src="{{'assets/imgs/' + q.choices[(s * 2)+1].image}}" class="img"/>
                  {{q.choices[(s * 2)+1].value}}
                </button>
                <button ion-item detail-none text-wrap class="selected" (click)="onClickChoice(q.choices[(s * 2)+1])" *ngIf="((s * 2) + 1) < q.choices.length && q.choices[(s * 2)+1].isSelected">
                  <img *ngIf="q.choices[(s * 2)+1].image" src="{{'assets/imgs/' + q.choices[(s * 2)+1].image}}" class="img"/>
                  {{q.choices[(s * 2)+1].value}}
                </button>
              </div>
              <button *ngIf="!canSubmit" ion-button round color="danger" class="submit" (click)="onClickSubmit()" [disabled]="true">SUBMIT</button>
              <button *ngIf="canSubmit" ion-button round color="danger" class="submit" (click)="onClickSubmit()">SUBMIT</button>
            </div>
            <div *ngIf="q.layout == 'rect'">
              <div *ngFor="let s of q.square" class="choice_square">
                <button ion-item detail-none text-wrap class="not_selected_rect" (click)="onClickChoice(q.choices[s * 2])" *ngIf="!q.choices[s * 2].isSelected">
                  {{q.choices[s * 2].value}}
                </button>
                <button ion-item detail-none text-wrap class="selected_rect" (click)="onClickChoice(q.choices[s * 2])" *ngIf="q.choices[s * 2].isSelected">
                  {{q.choices[s * 2].value}}
                </button>
                <button ion-item detail-none text-wrap class="not_selected_rect" (click)="onClickChoice(q.choices[(s * 2)+1])" *ngIf="((s * 2) + 1) < q.choices.length && !q.choices[(s * 2)+1].isSelected">
                  {{q.choices[(s * 2)+1].value}}
                </button>
                <button ion-item detail-none text-wrap class="selected_rect" (click)="onClickChoice(q.choices[(s * 2)+1])" *ngIf="((s * 2) + 1) < q.choices.length && q.choices[(s * 2)+1].isSelected">
                  {{q.choices[(s * 2)+1].value}}
                </button>
              </div>
              <button *ngIf="!canSubmit" ion-button round color="danger" class="submit" (click)="onClickSubmit()" [disabled]="true">SUBMIT</button>
              <button *ngIf="canSubmit" ion-button round color="danger" class="submit" (click)="onClickSubmit()">SUBMIT</button>
            </div>
          </div>
          <div *ngIf="show=='result'">
            <ion-card-content>
              <p>Your answer is</p>
              <h1 *ngIf="isCorrect" class="correct">CORRECT!</h1>
              <h1 *ngIf="!isCorrect && q.answer.length == 1" class="incorrect">INCORRECT!</h1>
              <h2 *ngIf="!isCorrect && q.answer.length > 1" class="incorrect">INCORRECT or INCOMPLETE!</h2>
              <img src="{{'assets/imgs/' + q.result_image}}" padding class="result_image"/>
              <div class="result">
                <p *ngIf="!q.result_bold" text-wrap>{{q.result}}</p>
                <p *ngIf="q.result_bold" text-wrap>{{q.result}} <b class="bold_result">{{q.result_bold}}</b></p>
                <ul *ngIf="q.result_list.length > 0">
                  <li *ngFor="let r of q.result_list">{{r}}</li>
                </ul>
              </div>
              <p *ngIf="isCorrect">You have won <b class="points">30 points!</b></p>
              <p *ngIf="!isCorrect">You have not won any points!</p>
            </ion-card-content>
            <button ion-button round class="submit" (click)="onClickNext()">NEXT</button>
          </div>
        </ion-card>
        <div style="height:5vh"></div>
      </ion-slide>
      <ion-slide class="swiper-no-swiping" class="slide-points">
        <div padding>
          <div style="margin-top:3vh">
            <h3>You scored<br/>{{points}} POINTS!</h3>
            <p class="final_res" *ngIf="points == 300" text-wrap>You have won and know how to prevent malaria! You are ready to travel to a malaria risk country.</p>
            <p class="final_res" *ngIf="points <= 270 && points > 210" text-wrap>You have won, but there are still some gaps in your malaria knowledge.<br/><br/>Consider re-watching the A,B,C,D of malaria videos!</p>
            <p class="final_res" *ngIf="points <= 210" text-wrap>Your malaria knowledge is poor. You should consider re-watching the A,B,C,D of malaria videos again.<br/><br/>Remember - Malaria is an emergency and can be fatal!</p>
            <img src="assets/imgs/result-a.gif" *ngIf="points == 300" padding class="result_image"/>
            <img src="assets/imgs/result-b.gif" *ngIf="points <= 270 && points > 210" padding class="result_image"/>
            <img src="assets/imgs/result-c.gif" *ngIf="points <= 210" padding class="result_image"/>
            <div class="final_res_button_container">
              <div class="final_res_button_left"><button ion-button full color="primary" (click)="onClickWatch()">Watch the<br/>ABCD Videos</button></div>
              <div class="final_res_button_right"><button ion-button full color="primary" (click)="onClickRepeatTheQuiz()">Repeat<br/>the Quiz</button></div>
            </div>
            <button ion-button full color="primary" (click)="onClickBackToHome()">Back to Home</button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
