page-kit-contents {
  .content {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F6F6;
  }
  .card {
    width: 90%;
    border-radius: 20px;
    padding: 5px;
    padding-bottom: 30px;

    h1 {
      display: block;
      margin: auto;
      margin-top: 25px;
      font-weight: bolder;
      text-align: center;
    }
    .flap {
      color: gray;
      display: block;
      margin: auto;
      text-align: center;
    }
  }
  .kit-container {
    position: relative;
  }
  .kit-image {
    z-index: 0;
  }
  .kit-1 {
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    height: 65%;
    width: 50%;
    z-index: 1;
  }
  .kit-2 {
    opacity: 0.5;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 35%;
    width: 50%;
    z-index: 1;
  }
  .kit-3 {
    opacity: 0.5;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
  }
  .icon {
    display: block;
    margin: auto;
    width: 3.7vw;
    height: auto;
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
