<ion-header>
  <ion-navbar>
    <ion-title>My Kit Contents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-content>
        <h1>{{title}}</h1>
        <div class="kit-container">
          <img src="assets/imgs/malaria-kit.png" class="kit-image"/>
          <div class="kit-1" tappable (click)="onTapKit(1)"></div>
          <div class="kit-2" tappable (click)="onTapKit(2)"></div>
          <div class="kit-3" tappable (click)="onTapKit(3)"></div>
        </div>
        <img src="assets/imgs/hand-icon.svg" class="icon"/>
        <p class="flap">Tap the flap to check contents</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
