page-b-selection {
  .content {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F6F6;

    .card {
      width: 90%;
      border-radius: 20px;
      padding: 5px;
      padding-top: 40px;
      padding-bottom: 35px;

      button {
        width: 95%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        padding: 30px;
        text-transform: none;
      }
    }
  }
}
