<ion-header>
  <ion-navbar>
    <ion-title>Bite Prevention</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <button ion-button round color="danger" (click)="playVideo('Bite Prevention Indoors', 'b1.mp4')">Indoors</button>
      <button ion-button round color="danger" (click)="playVideo('Bite Prevention Outdoors', 'b2.mp4')">Outdoors</button>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="sos-button" (click)="constants.callSos()">
  <img src="assets/imgs/button-sos.svg" />
  <p>CONTACT INTERNATIONAL SOS</p>
</ion-footer>
