page-home {
  .content {
    margin-top: 2vh;
    background-color: #F6F6F6;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .card {
    border-radius: 10px;
    width: 45vw;
    height: 45vw;
    margin: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-card-content {
      font-size: 3.5vmin;
    }
  }
  .card_full {
    border-radius: 10px;
    width: 94vw;
    height: 45vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      font-size: 3.5vmin;
    }
  }
  .image {
    width: 20vw;
    height: 20vw;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
}
