<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="card" (click)="onTapMyKitContents()">
      <ion-card-content>
        <img src="assets/imgs/button-kit.svg" class="image"/>
        My Kit Contents
      </ion-card-content>
    </ion-card>
    <ion-card class="card" (click)="onTapHowToUse()">
      <ion-card-content>
        <img src="assets/imgs/button-how-to.svg" class="image"/>
        How to use my kit
      </ion-card-content>
    </ion-card>
  </div>
  <div class="container">
    <ion-card class="card" (click)="onTapAbcd()">
      <ion-card-content>
        <img src="assets/imgs/button-abcd.svg" class="image"/>
        The ABCD of Malaria
      </ion-card-content>
    </ion-card>
    <ion-card class="card" (click)="onTapMoreInfo()">
      <ion-card-content>
        <img src="assets/imgs/button-more-info.svg" class="image"/>
        More Info
      </ion-card-content>
    </ion-card>
  </div>
  <div class="container">
    <ion-card class="card_full" (click)="onTapQuiz()">
      <ion-card-content>
        <img src="assets/imgs/button-quiz.svg" class="image"/>
        Test your knowledge<br/>Take the Malaria Quiz
      </ion-card-content>
    </ion-card>
  </div>
  <div style="height:10vh"></div>
</ion-content>
