<ion-header>
  <ion-navbar>
    <ion-title>More Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <img src="assets/imgs/button-more-info.svg" class="kit_icon"/>
      <p>Only accessible with internet connection.</p>
      <button ion-button round color="danger" (click)="constants.openLink(constants.INTL_SOS_COUNTRY)" text-wrap>
        <div>
          International SOS Country Guides<br/>
          <span class="sub">(Log in with your membership number)</span>
        </div>
      </button>
      <button ion-button round color="danger" (click)="constants.openLink(constants.WHO)" text-wrap>(WHO) World Health Organization</button>
      <button ion-button round color="danger" (click)="constants.openLink(constants.CDC)" text-wrap>(CDC) Centers for Disease Control</button>
      <!--<button ion-button round color="danger" (click)="constants.openLink(constants.MED_SUPPLY)" text-wrap>MedSupply International Website</button>
      <button ion-button round color="danger" (click)="constants.openLink(constants.INTL_SOS_WEBSITE)" text-wrap>International SOS Website</button>-->
    </ion-card>
  </div>
  <div style="height:10vh"></div>
</ion-content>
