$font-family-base: "Gotham", sans-serif !default;
.toolbar-title {
  font-weight: 700;
}

ion-header {
  font-family: "Gotham" !important;
  font-weight: 700 !important;
}
ion-footer {
  font-family: "Gotham" !important;
  font-weight: 700 !important;
}
ion-content {
  background-color: #F6F6F6;
  font-family: "Gotham" !important;
  font-weight: 400 !important;
}
h1, h2, h3, h4, h5, h6, button {
  font-family: "Gotham" !important;
  font-weight: 700 !important;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  &[class*="custom-abcd"] {
    mask-image: url(../assets/imgs/home-button-about.png);
  }
  &[class*="custom-home"] {
    mask-image: url(../assets/imgs/home-button.png);
  }
  &[class*="custom-how"] {
    mask-image: url(../assets/imgs/home-button-videos.png);
  }
  &[class*="custom-info"] {
    mask-image: url(../assets/imgs/home-button-info.png);
  }
  &[class*="custom-kit"] {
    mask-image: url(../assets/imgs/home-button-kit.png);
  }
  &[class*="custom-quiz"] {
    mask-image: url(../assets/imgs/home-button-quiz.png);
  }
}

ul {
  list-style-type: disc;
  text-align: left;
  margin-top: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}
.margin-top-none {
  margin-top: 0;
}
.no-scroll .scroll-content {
  overflow: hidden;
}
.sos-button {
  background-color: #FFDB2B;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  img {
    max-height: 25px;
    float: right;
    padding-right: 10px;
  }
  p {
    text-align: center;
  }
}
