<ion-nav [root]="rootPage"></ion-nav>

<ion-footer (click)="constants.callSos()" *ngIf="constants.currentPage != 'login' && constants.currentPage != 'quiz'">
  <div class="sos-button">
    <img src="assets/imgs/button-sos.svg" />
    <p>In case of emergency,<br/>contact International SOS.</p>
  </div>
</ion-footer>
