<ion-header>
  <ion-navbar>
    <ion-title>My Kit Contents</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content" *ngIf="kit==1">
    <h4>Flap 1 - Instructions</h4>
    <div style="height:3vh"></div>
    <img *ngIf="contents=='diagnostic'" src="assets/imgs/diagnostic-kit-instruction.JPG" class="kit-image-content"/>
    <img *ngIf="contents=='curative'" src="assets/imgs/curative-kit-instruction.JPG" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Quick User Guide</b></p>
      <p *ngIf="contents=='diagnostic'" class="margin-top-none" text-wrap>How to diagnose malaria.</p>
      <p *ngIf="contents=='curative'" class="margin-top-none" text-wrap>How to diagnose and cure malaria.</p>
    </div>
    <div style="height:3vh"></div>
    <img src="assets/imgs/tracking-my-kit-instruction.JPG" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Tracking Your Kit</b></p>
      <p class="margin-top-none subtitle" text-wrap>How to register your kit online and receive automatic email reminders, including kit expiry date.</p>
    </div>
    <div style="height:15vh"></div>
  </div>
  <div class="content" *ngIf="kit==2">
    <h4>Flap 2 - Fever</h4>
    <div style="height:3vh"></div>
    <img src="assets/imgs/forehead-thermometer.png" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Forehead Thermometer</b></p>
      <p class="margin-top-none" text-wrap>Forehead Thermometer is reusable.</p>
    </div>
    <div style="height:3vh"></div>
    <div *ngIf="contents=='curative'">
      <img src="assets/imgs/paracetamol.png" class="kit-image-content"/>
      <div class="image_title">
        <p class="margin-bottom-none"><b>Paracetamol / Acetaminophen</b></p>
        <p class="margin-top-none subtitle" text-wrap>Medication to reduce fever – use as per manufacturer’s instructions.</p>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="kit==3">
    <h4>Flap 3 - Malaria</h4>
    <div style="height:3vh"></div>
    <img src="assets/imgs/packet.jpg" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>3x Rapid Diagnostic Test Packets</b></p>
      <p class="margin-top-none subtitle" text-wrap>These can also be used as a trash bag to dispose of the packet’s components after use.<br/>Each packet contains:</p>
    </div>
    <div style="height:5vh"></div>
    <img src="assets/imgs/gloves.png" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Gloves</b></p>
      <p class="margin-top-none subtitle" text-wrap>To be used if someone other than yourself is performing the rapid malaria test.</p>
    </div>
    <div style="height:5vh"></div>
    <img src="assets/imgs/alcohol-pad.png" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Disinfectant Wipe</b></p>
      <p class="margin-top-none subtitle" text-wrap>Used to disinfect the finger tip before drawing blood.</p>
    </div>
    <div style="height:5vh"></div>
    <img src="assets/imgs/lancet.png" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Lancet</b></p>
      <p class="margin-top-none subtitle" text-wrap>Used to prick the finger to obtain a drop of blood.</p>
    </div>
    <div style="height:5vh"></div>
    <img src="assets/imgs/inverted-cup.png" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Inverted Cup</b></p>
      <p class="margin-top-none subtitle" text-wrap>Used to transfer blood to the Rapid Diagnostic Test.</p>
    </div>
    <div style="height:5vh"></div>
    <img src="assets/imgs/buffer-bottle.png" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Buffer Bottle</b></p>
    </div>
    <div style="height:5vh"></div>
    <img src="assets/imgs/cassette.png" class="kit-image-content"/>
    <div class="image_title">
      <p class="margin-bottom-none"><b>Rapid Diagnostic Test Cassette</b></p>
    </div>
    <div *ngIf="contents=='diagnostic'" style="height:15vh"></div>
    <div *ngIf="contents=='curative'">
      <div style="height:5vh"></div>
      <img src="assets/imgs/coartem-box.png" class="kit-image-content"/>
      <div class="image_title">
        <p class="margin-bottom-none"><b>Coartem®</b></p>
        <p class="margin-top-none margin-bottom-none subtitle" text-wrap>3 days of medication to treat malaria.</p>
        <p class="margin-top-none subtitle" text-wrap>AVAILABLE ONLY IN THE CURATIVE KIT</p>
      </div>
      <div style="height:15vh"></div>
    </div>
  </div>
</ion-content>
