page-kit-flap {
  .content {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h4 {
      font-weight: bolder;
      text-align: center;
    }
    .kit-image-content {
      width: 55%;
      display: block;
      margin: auto;
    }
    .image_title {
      color: gray;
      text-align: center;
    }
    .subtitle {
      padding-left: 15vw;
      padding-right: 15vw;
    }
  }
}
