<ion-header>
  <ion-navbar>
    <ion-title>The ABCD of Malaria</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <img src="assets/imgs/button-abcd.svg" class="kit_icon"/>
      <button ion-button round color="danger" (click)="playVideo('Awareness', 'a.mp4')" text-wrap>A for Awareness</button>
      <button ion-button round color="danger" (click)="playVideo('Bite Prevention Indoors', 'b1.mp4')" text-wrap>B for Bite Prevention - Indoors</button>
      <button ion-button round color="danger" (click)="playVideo('Bite Prevention Outdoors', 'b2.mp4')" text-wrap>B for Bite Prevention - Outdoors</button>
      <button ion-button round color="danger" (click)="playVideo('Chemoprophylaxis', 'c.mp4')" text-wrap>C for Chemoprophylaxis</button>
      <button ion-button round color="danger" (click)="playVideo('Diagnosis', 'd.mp4')" text-wrap>D for Diagnosis</button>
    </ion-card>
    <div style="height:5vh"></div>
  </div>
</ion-content>
