page-quiz-intro {
  .content {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6F6F6;

    .card {
      width: 90%;
      border-radius: 20px;
      padding: 5px;
      padding-bottom: 30px;

      .kit_icon {
        width: 20vw;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 5px;
      }
      button {
        width: 95%;
        display: block;
        margin: auto;
        margin-bottom: 5px;
        padding: 20px;
        text-transform: none;
        font-weight: 500;
      }
      h6 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
      }
      .image {
        width: 90%;
        height: auto;
        display: block;
        margin: auto;
        margin-bottom: 5vh;
      }
    }
  }
}
