<ion-header>
  <ion-navbar>
    <ion-title>Malaria Quiz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <img src="assets/imgs/button-quiz.svg" class="kit_icon"/>
      <h6>The Malaria Quiz</h6>
      <img class="image" src="assets/imgs/quiz-0.gif"/>
      <button *ngIf="!state" ion-button round color="danger" (click)="onClickStart(null)">START</button>
      <button *ngIf="state" ion-button round color="danger" (click)="onClickStart(state)">CONTINUE</button>
      <button *ngIf="state" ion-button round color="danger" (click)="onClickRestart()">RESTART</button>
    </ion-card>
  </div>
</ion-content>
