<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <video controls="controls" preload="metadata" autoplay="true" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source src="{{video}}" type="video/mp4" />
  </video>
</ion-content>
