<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-content>
        <p>
          This presentation has been prepared by MedSupply International, an affiliate of ASIA
          EMERGENCY ASSISTANCE HOLDINGS PTE. LTD, the ultimate parent of the International SOS
          Group of Companies (“AEA”), and may not be reproduced, used or modified without the express
          consent of AEA. By receiving a copy of this material, you agree that you shall use it for
          informational and educational purposes only. AEA has used reasonable endeavor to ensure
          that the Information is accurate in all material respects and is based on the most up to date
          medical understanding and guidelines. Subject to applicable law, neither AEA nor any of its
          affiliates: (a) shall have any obligation (express or implied) to update any or all of the
          Information or advise of any changes; (b) make any express or implied warranties or
          representations as to the completeness or accuracy of the Information, or (c) accept any
          responsibility or liability for errors in the Information or the consequences of its use.
        </p>
        <div class="checkbox">
          <ion-checkbox [(ngModel)]="accept"></ion-checkbox>
          <p class="label">I HAVE READ AND UNDERSTOOD THE ABOVE</p>
        </div>
        <button ion-button round color="danger" (click)="onClickAgree()" [disabled]="!accept">I AGREE</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
