page-accept {
  .content {
    padding-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2F3082;
    background-image: url('../assets/imgs/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    .card {
      width: 90%;
      border-radius: 20px;
      padding: 5px;
      padding-bottom: 20px;
      background-color: rgba(255, 255, 255, 0.1);

      p {
        color: white;
        margin-bottom: 20px;
        font-size: 3.7vmin;
      }

      .checkbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: auto;

        .label {
          color: white;
          font-weight: 500;
          margin-left: 10px;
          margin-bottom: 0px;
        }
      }

      button {
        display: block;
        margin: auto;
        margin-top: 20px;
      }

    }
  }
}
